*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.sign-up{
    display: flex;
    justify-content: center;
}

.sign-up__content{
    width: 400px;
    height: 670px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 25px;
   
}

.sign-up__sign-in-link-container{
    margin-bottom: 20px;
}

.sign-up__sign-in-link{
    font-weight: 500;
    color: black;
}

.sign-up__sign-in-link:hover{
    opacity: 0.3;
}

.sign-up__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.sign-up__form input{
    width: 350px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 4px;
    opacity: 0.5;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    
}

.sign-up__button-container{
    display: flex;
    justify-content: center;
}

.sign-up__button{
    width: 350px;
    border: 1.5px solid black;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    padding: 16px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.sign-up__button:hover{
    border: 2px solid black;
}

.sign-up__warning{
    font-size: 14px;
}

